h1, p {
    color: #FFFFFF;
}

.navbar, .jumbotron, #contacts {
    background-color: #191919;
}
.navbar {
    position: fixed;
}

.projects{
    position: relative;
    height: 50vh;
    background-color: black; 
    margin: 1px;
}

main div h1 {
    color: #000000;
}